<rg-page>
  <div class="content_container">
    <rg-nav>
      <label class="search__title">
        Search by name
        <input class="search" type="search" [formControl]="searchControl"/>
      </label>
    </rg-nav>
    <div *ngIf="vars.length" class="table-container">
      <table mat-table [dataSource]="data">
        <ng-container *ngFor="let column of vars">
          <ng-container matColumnDef="{{column.name}}">
            <th mat-header-cell (click)="sort(column.name)" *matHeaderCellDef>
              <span>{{(column.name | titlecase)}} </span>
              <p *ngIf="column.isSorted; else content">По возр</p>
            </th>
            <td mat-cell *matCellDef="let element">{{element[column.name]}}</td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getColumnsHeader()"></tr>
        <tr (click)="openMessageModal(row)" mat-row *matRowDef="let row; columns: getColumnsHeader();"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     [length]="length"

                     [pageSize]="pageSize"
                     [pageIndex]="pageIndex"
                     (page)="handlePageEvent($event)"
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</rg-page>

<ng-template #content>
  по убыв
</ng-template>
